<!DOCTYPE html>
<html>
  <head>
    <title>Sjec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
<div id="logo">
  <%= link_to root_path do %>
    <%= image_tag "logo.svg" %>
  <% end %>

</div>
<ul>
  <li class="category">Website</li>
  <li> <%= link_to "departments", root_path %> </li>
  <li>About</li>
  <li class="category">Social</li>
  <li><a href="https://facebook.com">Facebook</a></li>
  <li><a href="https://twitter.com">Twitter</a></li>
  <li><a href="mailto:rahul.bansude2@gmail.com">Email</a></li>
</ul>
    <% if !user_signed_in? %>
<p class="sign_in">
<%= link_to "Admin Login", new_user_session_path %>
</p>
<% end %>
</div>
<div id="main_content">
  <div id="header">
<% if user_signed_in? %>
      <div class="button">
        <%= link_to "Log out", destroy_user_session_path, :method => :delete%>

      </div>


    <% end -%>
</div>
    <% flash.each do |name, msg| %>
 <% content_tag(:div, msg, class: "alert") %>
 <% end %>

    <%= yield %>
    </div>
  </body>
</html>
