<!DOCTYPE html>
<html>
  <head>
    <title>Sjec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <div id="main_content">
    <div id="header">
      <p>SJEC</p>
      <% if user_signed_in? %>


          <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "buttons button"%>

<% else%>

    <%= link_to "Student Login", new_user_session_path, class: "buttons button" %>

  <% end %>
    </div>
    <% flash.each do |name, msg| %>
    <% content_tag(:div, msg, class: "alert") %>
  	<% end %>
  <%= yield %>
  </div>




  </body>
</html>
